<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes"/>
    <meta name="msapplication-tap-highlight" content="no" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel='stylesheet' href='/css/style.css'/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/lab.js"></script>
    <script src="/js/labC.js"></script>
    <script>
        $(document).ready(function(){
                $("#show").append(LabJsonFormatter('<%=detial.type%>','<%-detial.json%>'));
        });

    </script>
</head>
<body>
<%if (detial.type=="冠脉造影"){
    detial.type="残余狭窄";
}%>
<h3><B><%=detial.type%>——<%=detial.checktime.substring(0,10)%></B></h3>
<hr color=""/>
<div id="show"></div>
</body>
</html>